.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 2px solid black;
}


.barang {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
    border: 3px solid black;
}

.card img {
    width: 100%;
}

.card h3,
h5 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
}