.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 2px solid black;
}

.iklan {
    height: 400px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.iklan-gambar {
    background-color: blue;
}

.pengumuman {
    background-color: chartreuse;
    font-size: 28px;
    text-align: center;
    align-self: center;
    padding: 20px;
}

.barang {
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
    border: 3px solid black;
}

.card img {
    height: 200px;
    width: 200px;
}

.card h3,
h4 {
    text-align: center;
}

footer {
    margin-top: 50px;
}
